@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

material-button {
  //background-color: green;
  //color: white;
  padding: 0px 4px;
  margin: 2px;
}

.list {
  display: flex;
  flex-direction: column;
}

score {
  font-weight: bold;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.redScore {
  @extend score;
  color: red;
}

.blueScore {
  @extend score;
  color: blue;
}